.auth {
  --error-color: #ff5050;
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.auth form, .auth label {
  display: flex;
  flex-direction: column;
  gap: 4px
}

.auth input {
  background: none;
  border: none;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  height: 44px;
  padding: 0 4px;
  text-align: center;
}

.auth[data-error='true'] input {
  box-shadow: inset 0 0 0 2px var(--error-color);
}

.auth button { 
  background: none;
  border: none;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  height: 44px; 
}

.auth span {
  color: var(--error-color);
}