.auth {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.auth form, .auth label {
  display: flex;
  flex-direction: column;
  gap: 4px
}

.auth input {
  height: 44px;
  padding: 0 4px;
  text-align: center;
}

.auth button { height: 44px; }

.auth span {
  color: #ff6d6d;
  text-align: center;
}