.auth {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.auth input {
  margin: 0 0 0 8px;
}