.verse {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: auto;
  max-width: min(80vw, 400px);
  text-align: center;
}

.verse > div {
  display: flex;
  gap: 4px;
}

.verse button {
  background: var(--active-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  transition: .1s ease-out;
}

.verse button:hover span {
  background: var(--hover-color);
}

.verse p[class='s'] {
  color: #888;
  font-size: .8em;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.verse span[class='v'] {
  color: #888;
  margin: 0 4px;
  font-size: .8em;
  position: relative;
  bottom: .5em;
}

.verse cite {
  color: #888;
  font-size: .8em;
  font-style: normal;
  text-transform: uppercase;
}
