.menu {
  align-items: center;
  background: #131313bd;
  backdrop-filter: blur(24px);
  display: flex;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.menu > div > span {
  display: inline-flex;
  justify-content: space-between;
}

.menu > div > span > button {
  background: none;
  border: none;
  color: #fff;
  width: 44px;
  height: 44px;
  position: relative;
}

.menu > div {
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: auto;
  width: min(400px, 90vw);
  height: min(800px, 90vh);
}

.menu h3 {
  margin: 0.5em 0;
  text-transform: capitalize;
}
