.nav {
  display: flex;
  flex: 1;
}

.nav a {
  display: flex;
  flex: 1;
  padding: 4px;
  transition: 0.1s ease-out;
}

.nav span {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex: 1;
  justify-content: center;
  transition: .1s ease-out;
}

.active span {
  background: rgb(25, 23, 84);
}

@media (max-width: 768px) {
  .nav {
    bottom: 0;
    height: 44px;
    left: 0;
    position: fixed;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .nav a:hover span {
    background: rgb(34, 32, 115);
  }
}
