.keypad {
  animation: slidedown 0.5s ease-in-out;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, 44px);
  margin: 0 0 16px;
}

.keypad:last-child {
  margin: 0;
}

.keypad[data-bibles] {
  grid-template-columns: repeat(auto-fit, minmax(80px, 15vw));
}

.keypad li {
  display: flex;
}

.keypad button {
  --color: #fff;
  align-items: center;
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
  display: flex;
  flex: 1;
  height: 44px;
  justify-content: center;
}

.keypad button:hover {
  background: var(--color-hover);
}

@keyframes slidedown {
  0% {
    opacity: 0;
    translate: 0 -10%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
