.verse {
  align-items: center;
  background: #000000b8;
  border-radius: 8px;
  box-shadow: 0 .5px 0 1px #4646467a;
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: auto;
  max-width: min(80vw, 400px);
  overflow: hidden;
  padding: 24px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.verse > div {
  display: flex;
  gap: 4px;
}

.verse > span {
  line-height: 1.2em;
}

.verse button {
  background: none;
  border: 1px solid #888;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  transition: .1s ease-out;
}

.verse p[class='s'], .verse p[class='ms'] {
  display: none;
}

.verse span[class='v'] {
  color: #888;
  margin: 0 4px;
  font-size: .8em;
  position: relative;
  bottom: .3em;
}

.verse cite {
  color: #888;
  font-size: .8em;
  font-style: normal;
  text-transform: uppercase;
}
