.reader {
  align-self: center;
  width: min(100%, 500px);
}

.reader h3 {
  margin: 1em 0;
}

.reader p {
  margin: 1em 0;
  line-height: 1.2em;
}

.reader span[data-sid] { 
  color: #aaa;
  font-size: .8em;
  margin: 0 4px;
  position: relative;
  bottom: .3em;
}

.reader [class="s"], .reader h3 {
  color: #aaa;  
  text-transform: uppercase;
}

.reader cite {
  color: #aaa;
  display: flex;
  flex-direction: column;
  font-size: .8em;
  justify-content: center;
  text-align: center;
  width: 100%;
}
