.keypad {
  animation: slidedown .5s ease-in-out;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, 44px);
  margin: 0 0 4px;
}

.keypad button {
  --color: #fff;
  --color-disabled: #555;
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
  height: 44px;
  width: 44px;
}

.keypad button[data-selected='true'] {
  background: var(--color-active);
}

.keypad button:disabled {
  border: 1px solid var(--color-disabled);
  color: var(--color-disabled);
}
