* {
  box-sizing: border-box;
  /* TODO: Select Font */
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-active: #222073;
  --color-hover: #191754;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
