.button button {
  --color: #fff;
  --color-disabled: #555;
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
  height: 44px;
  width: 44px;
}

.button button[data-selected='true'] {
  background: var(--color-active);
}

.button button:disabled {
  border: 1px solid var(--color-disabled);
  color: var(--color-disabled);
}