.content {
  --background-image: none;
  background-image: var(--background-image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex: 1;
}
