.logo {
  display: flex;
  flex: 2;
}

.logo h1 {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.8em, 5vw, 2em);
  padding: 8px;
}

.logo span:last-child {
  color: rgb(126, 214, 255);
}
