.nav {
  display: flex;
  flex: 1;
  z-index: 1;
}

.nav a {
  display: flex;
  flex: 1;
  padding: 4px;
  transition: 0.1s ease-in-out;
}

.nav span {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 4px;
  transition: .1s ease-in-out;
}

.active span {
  background: var(--color-active);
}

.nav a:hover span {
  background: var(--color-hover);
}

@media (max-width: 500px) {
  .nav {
    background: #333;
    bottom: 0;
    height: 44px;
    left: 0;
    position: fixed;
    right: 0;
    transition: .2s ease-in-out;
  }

  .nav[data-scroll-down='true'] {
    transform: translateY(100%);
  }
}
