.header {
  align-items: center;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin: 0 -8px;
  padding: 8px;
  position: sticky;
  transition: 0.1s ease-in-out;
  top: 0;
  z-index: 1;
}

.header[data-scroll-down='true'] {
  translate: 0 -100%;
}

.header h2 button {
  background: none;
  border: none;
  color: #fff;
}

.header div {
  display: flex;
  gap: 4px;
}

.header div button {
  background: var(--color-active);
  border: none;
  color: #fff;
  height: 3em;
  width: 5em;
  transition: .2s ease-in-out;
}

.header div button:disabled {
  cursor: default;
  opacity: 0;
}

.header div button:not(:disabled):hover {
  background: var(--color-hover);
}
